.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: url('./images/capitabackground.jpg');

}


.card {
  width: 18rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 100px;
  height: 270px;
}

.img:hover {
  transform: scale(1.5); 
}

.title {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font: 11px;
}

.name{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font: 11px;
}

.iframe-container {
  position: relative;
  width:100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}