
body{
    background: url('../images/stars.gif')
}
.box-1{
    flex:1;
    
}

.box-2{
    flex:1;
}

.box-3{
    flex:1;
}


.container-1 div{
   color: #f6e948;
    margin-top:20px;
}

.container-1{
    display: flex;
}

.pinkman {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
    width: 300px;
}

.typewriter h1 {
    font-size: 10px;
    color: #f6e948;
    transform: rotate(90deg);
 overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5.5s steps(40, end),
      blink-caret .75s step-end infinite;
    
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.container-2{
    display: flex;
    justify-content: center;
    margin-left: 305px;
}


.box-4{
margin-right: 50px;
margin-left: 50px;
justify-content: center;
  
}

.box-5{
   
    padding-top: 250px;
    padding-right: 15px;
    margin-right: 10px;
}

